.tools {
   position: fixed;
   left: 10px;
   top: 10px;
   z-index: 99;
   opacity: 40%;
   transition: all 0.4s ease;
}

.tools:hover {
   opacity: 100%;
}

.tools__container {
   background-color: var(--color-primary);

   width: 70px;
   height: 65px;
   border-radius: 20px;
   position: relative;
   z-index: 1;
}

.btn {
   position: absolute;
   cursor: pointer;
   background-color: transparent;
   border: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 0%);
}

.btn__title {
   position: absolute;
   left: 50%;
   top: 50%;
   color: white;
   font-size: 1.4rem;
   transform: translate(-50%, -195%);
}

.btn-open {
   display: none;
}

.btn.active .btn-close {
   display: none;
}

.btn.active .btn-open {
   display: block;
}

.svg__sprite {
   width: 2rem;
   height: 2rem;
}

.bar {
   position: absolute;
   top: 105%;
   left: 50%;
   width: 50px;
   transform: translate(-50%);
   background-color: var(--color-primary);
   height: 0;

   transition: all 0.3s ease;
   border-radius: 20px;
   font-size: 1.6rem;
}

.bar.active {
   height: 220px;
}

.bar.active .bar__item {
   visibility: visible;
}

.bar__ul {
   display: flex;
   flex-direction: column;
   width: 50px;
   align-items: center;
   justify-content: center;
}

.bar__item {
   padding: 1.5rem 0;
   border-radius: 5px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   visibility: hidden;
}

.tooltips {
   position: absolute;
   border-radius: 5px;
   padding: 0.5rem;
   color: rgb(255, 255, 255);
   background-color: var(--color-primary);
   font-size: 1.2rem;
   text-align: left;
   left: 52px;
   display: none;
   width: max-content;
}

.bar__item:hover .tooltips {
   display: block;
}

.bar__link {
   color: white;
}

.bar__link:focus {
   transform: scale(1.2);
}

.svg__item-icon {
   width: 2.5rem;
   height: 2.5rem;
}

@media (max-width: 750px) {
   .tools {
      left: 1px;
      top: 1px;
   }

   .bar.active {
      height: 195px;
   }

   .tools__container {
      width: 50px;
      height: 50px;
      border-radius: 20px;
   }

   .btn__title {
      font-size: 1rem;
   }

   .svg__sprite {
      width: 1.5rem;
      height: 1.5rem;
   }
}
