* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background-color: rgb(236, 236, 236);
   margin: 0 auto;
   transition: all 0.3s ease;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

.svg__sprite {
   align-items: center;
   display: flex;
   fill: white;
   height: 3rem;
   justify-content: center;
   line-height: 0;
   width: 3rem;
}

time {
   display: block;
   font-size: 1.2rem;
}

.logoPrint,
.textPrint {
   display: none;
   visibility: hidden;
}
